*{
    box-sizing: border-box;
}

body {
    background: black;
    font-family: sans-serif;
    color: black;
    text-shadow:
            1px 1px 2px white,
            0 0 .5em #33D4AF,
            0 0 1em white;
    font-size: 3em;
    background: radial-gradient(rgba(33, 225, 237) -40%, black 50%);
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /*background-image: radial-gradient(*/
    /*        circle at center,*/
    /*        black 0.1rem,*/
    /*        transparent 0.2rem*/
    /*);*/
    /*background-size: 1.3rem 1.3rem;*/
    /*background-position: 0 0, 0.65rem 0.65rem;*/
}

span {
    padding: 0.25em;
    z-index: 2;
}

.lightning {
    position: absolute;
    z-index: -1;
    margin: -1em 0.1em;
}

span:hover + .lightning::after {
    border-color: transparent transparent rgba(33, 225, 237);
    border-width: 0 45em 2em 45em;
    transform: scale(0.1) rotate(1rad) translate(-39em, -3em);
    transform-origin: 0 0;
    border-style: solid;
    content: "";
    display: inline-block;
    position: absolute;
}

span:hover + .lightning::before {
    border-color: transparent transparent rgba(33, 225, 237);
    border-width: 0 45em 2em 45em;
    transform: scale(0.1) rotate(260rad) translate(-47em, -8em);
    transform-origin: 0 0;
    border-style: solid;
    content: "";
    display: inline-block;
    position: absolute;
}